.tite{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    align-items: center;
}
.tite > p{
    border: none;
}

.BpesqA{
    background-color: white;
    border: black 2px solid;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr;
    grid-template-rows: 1fr;
    align-content: center;
    border-radius: 20px;
    overflow: hidden;
}


.BpesqA > button {
    width: 110%;
    height: 110%;
    margin: 0px;
    font-size: 32px;
    cursor: pointer;
    align-self: center;
    background: #28a745;;
    border-left: black 2px solid;
    color: white;
}
.BpesqA > button:hover {
    background: #218838;
}
.secMateria{
    /* background-color: #28a745; */
    border: black 2px solid;
    border-radius: 24px;
    width: 100%;
    padding: 4px 0 0 0;
    overflow: hidden;

}
.secMateria > p{
    border-bottom:  black 2px solid;
    margin: 0;
    /* width: 100%; */
}
.pesqA{
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 0;
    align-items: center;
}
a{
    font-size: 12px;
}

        input{
            padding: 5px;
            outline: none;
        }
        
        p{
            margin: 4px;
            padding: 2px;
        }

        #disciplinasPode{
            overflow-wrap: scroll;
            overflow-y: scroll;
            background-color: cadetblue;
            height: 96%;
        }

        .Htext {
            display: flex;
            align-items: center; /* Alinha todos os itens no topo */
            gap: 10px;
            padding: 4px;
            
            background-color: rgb(96, 201, 201);
            border-radius: 10px;
        }

        .CH{
            background-color: #218838;
            border-radius: 10px;
            flex-direction: column;
            justify-content: center;
            margin: 10px;
            padding: 4px;
            display: flex;
        }

        h5{
            margin: 0px;
            font-size: 12px;
            background-color: #e6b329;
            padding: 4px;
            border-radius: 10px;
        }

        h3{
            margin: 0px;
            padding: 4px;
        }

        h4{
            font-size: 12px;
            margin: 4px;
        }

        

         .content{
            margin: 0 6% 0 6%;
            position: fixed;
            bottom: 17%;
          
        }
        

        h2 {
            text-align: center;
            border: black 2px solid;
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        select,
        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        .linha {
            align-items: center;
            display: flex;
            padding: 0;
            margin: 0;
            gap: 10px;
        }
        
        .bricks{
            margin: 4px 0px 4px 0px;
            text-align: center;
            border-radius: 10px;
            background-color: #ffff;
            border: black 2px solid;
        }
        .colMate{
            display: flex;
            flex-direction: column;
            width: 100%;
            border: black 2px solid;
            margin: 2px;
            overflow-y:auto;
        }
        .bolha{
            align-items: center;
            text-align: center;
            border-radius: 10px;
            display: flex;
            margin: 1px 2px 4px 2px;
            background-color: aqua;
        }
        .bolhanop{

            border-radius: 10px;
            display: flex;
            margin: 1px 2px 4px 2px;
            align-items: center;
            background-color: rgb(255, 196, 0);

        }
        .bolhanope{
            border-radius: 10px;
            display: flex;
            margin: 1px 2px 4px 2px;
            background-color: rgb(255, 60, 0);
            align-items: center;
        }

        #quadro{
            display: flex;
            border: #28a745 solid 2px;
            height: 100%;
            width: 100%;
        }

        .pesquiname{
            display: flex;
            margin: 1px 0px 2px 0px;
            justify-content: space-between;
            align-items: center;
            background-color: rgb(108, 122, 122);
            border-radius: 10px;
            padding: 4px;
            cursor: pointer;
        }
        .pcode{
            border-radius: 8px;
            
        }