*{
    margin: 0;
    padding: 0;
    text-align: center;
}


/* texto confi */
/* tamanhos */
/* 12 16 24 32 48 64 */
a{
    font-size: 16px;
}
p{
    font-size: 16px;
}

h2 {

}

h3{
}

h4{
    
}

h5{
    
}
.content{
            margin: 0 6% 0 6%;
            position: fixed;
            bottom: 17%;
          
        }

.pesqA{
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    justify-content: center;
    gap: 0;
    padding: 0;
    margin: 0;
    align-items: center;
}
.PesquiseBar{
    display: flex;
    flex-direction: column;
    margin: 0 20% 24px 20%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.pesquiname{
            display: flex;
            width: 100%;
            margin-bottom:2px;
            font-size: 14px;
            justify-content: space-between;
            align-items: center;
            background-color: rgba(108, 122, 122,0.75);
            border-radius: 10px;
            padding: 4px;
            cursor: pointer;
        }
        .pesquiname:hover{
            background-color: rgba(158, 179, 179, 0.9);
        }
/* spkmfsodmofms */


body {
    background-image: linear-gradient(-45deg, transparent 45%,  #333 45%,  #333 55%, transparent 55%);
    background-size: 20px 20px;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 1fr 9fr 2fr;
    height: 100vh;
    width: 100vw;

}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;        
    gap: 12px;
    
    align-items: center;
    padding: 16px 0px 0px 0px;
}

section{
    
    z-index: 0;
    border-radius: 32px;
    margin: -1% 20px 0px 35px;
    overflow-y: hidden;
    }


.dark{
    background-color: #d9dfda;
    height: 100%;
    align-content: center;
    display: block;
    border-radius: 9px 9px 0px 0px;
}

.seletor{
    box-shadow: 10px 6px black;
    background-color: white;
    display: grid;
    position: relative;
    top: 4px;
    left: 20px;
    border: black 2px solid;
    overflow: hidden;
    width: 28%;
    z-index: -1;

    /* height: 7%; */
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
}

.seletor > a{
    color: black;
    text-decoration: none;
    /* margin: 2px; */
    padding: 2px;
}


.titulos{
    text-align: center;
    background-color: white;
    padding: 6px 0px 6px 0px ;
    
    box-shadow: 6px 6px black;
    border-radius: 14px;
    width: 100%;
    font-size: 24px;
    border: black 2px solid;
}